In [2]:
import pandas as pd

df = pd.read_csv("Minimum Wage Data.csv")

df.head(5)

### 2 ways to filter out all "Arizona" from the "State" column:
1. df.groupby()  -->  return a iterative groupby object
2. df.copy()[...condition...]

In [3]:
gb = df.groupby("State")
gb.get_group("Arizona").set_index("Year").head()

,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
Year,,,,,,,,,,,,,,
1968,Arizona,0.468,3.48,1.15,8.55,1.15,8.55,34.8,18.72 - 26.40/wk(b),0.468,3.48,0.66,4.91,(b)
1969,Arizona,0.468,3.30,1.15,8.11,1.15,8.11,36.7,18.72 - 26.40/wk(b),0.468,3.30,0.66,4.65,(b)
1970,Arizona,0.468,3.12,1.30,8.67,1.30,8.67,38.8,18.72 - 26.40/wk(b),0.468,3.12,0.66,4.40,(b)
1971,Arizona,0.468,2.99,1.30,8.30,1.30,8.30,40.5,18.72 - 26.40/wk(b),0.468,2.99,0.66,4.22,(b)
1972,Arizona,0.468,2.90,1.60,9.90,1.60,9.90,41.8,18.72-26.40/wk(b),0.468,2.90,0.66,4.08,(b)

#### Create a new act_min_wage dataframe, with different states as columns:
1. iterate over groupby object to get rows of a state
2. Use "Year" as index for these rows
3. Select the "State.Minimum.Wage" column data for these rows, it'll return a series
4. to_frame() to convert from series to data frame
5. join data frames

In [9]:
act_min_wage = pd.DataFrame()

for name, group in gb:
    if act_min_wage.empty:
        act_min_wage = group.set_index("Year")["State.Minimum.Wage"].to_frame().rename(columns={"State.Minimum.Wage":name})   #df.rename() to rename column, dict key is the one to be renamed
    else:
        act_min_wage = act_min_wage.join(group.set_index("Year")["State.Minimum.Wage"].to_frame().rename(columns={"State.Minimum.Wage":name}))

act_min_wage.head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1968,0.0,2.1,0.468,0.15625,1.65,1.0,1.40,1.25,1.25,0.0,...,0.0,0.0,0.0,1.0,1.4,0.0,1.6,1.0,1.25,1.2
1969,0.0,2.1,0.468,0.15625,1.65,1.0,1.40,1.25,1.25,0.0,...,0.0,0.0,0.0,1.0,1.4,0.0,1.6,1.0,1.25,1.2
1970,0.0,2.1,0.468,1.10000,1.65,1.0,1.60,1.25,1.60,0.0,...,0.0,0.0,0.0,1.0,1.6,0.0,1.6,1.0,1.30,1.3
1971,0.0,2.1,0.468,1.10000,1.65,1.0,1.60,1.25,1.60,0.0,...,0.0,0.0,0.0,1.0,1.6,0.0,1.6,1.0,1.30,1.3
1972,0.0,2.1,0.468,1.20000,1.65,1.0,1.85,1.60,1.60,0.0,...,0.0,1.4,0.0,1.2,1.6,0.0,1.6,1.2,1.45,1.5

#### - Use df.describe() : See more detailed info for the dataframe
#### - .corr() : See the correlation between different states

In [6]:
act_min_wage.describe()
act_min_wage.corr().head()

,Alabama,Alaska,Arizona,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Florida,...,Tennessee,Texas,U.S. Virgin Islands,Utah,Vermont,Virginia,Washington,West Virginia,Wisconsin,Wyoming
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alaska,NaN,1.000000,0.813187,0.981938,0.986455,0.970585,0.992234,0.971193,0.973326,0.834101,...,NaN,0.948283,0.781511,0.961031,0.992841,0.953998,0.974007,0.984063,0.966210,0.876241
Arizona,NaN,0.813187,1.000000,0.805781,0.853713,0.878803,0.827466,0.786208,0.860865,0.952754,...,NaN,0.806554,0.524404,0.761328,0.840408,0.724143,0.853009,0.835118,0.776753,0.770526
Arkansas,NaN,0.981938,0.805781,1.000000,0.981222,0.974544,0.980991,0.971062,0.976168,0.805780,...,NaN,0.935556,0.826498,0.954685,0.982433,0.953048,0.965271,0.983518,0.961117,0.816334
California,NaN,0.986455,0.853713,0.981222,1.000000,0.987726,0.992328,0.969744,0.982806,0.853217,...,NaN,0.939076,0.793820,0.946546,0.992023,0.931147,0.987628,0.977868,0.950854,0.873317

#### - Note that the state's rows has several weird value (can check from the csv)
#### - Get those rows out & those state's name out!!

In [7]:
issue_df = df.copy()[df["State.Minimum.Wage"] == 0.0]
issue_df.head()

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
9,1968,Florida,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
10,1968,Georgia,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
14,1968,Illinois,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
16,1968,Iowa,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN

In [8]:
issue_df["State"].unique()

array(['Alabama', 'Florida', 'Georgia', 'Illinois', 'Iowa', 'Kansas',
       'Louisiana', 'Mississippi', 'Missouri', 'Montana',
       'South Carolina', 'Tennessee', 'Texas', 'U.S. Virgin Islands',
       'Virginia', 'Arizona', 'Puerto Rico'], dtype=object)

#### - Replace those weird data with NaN & Drop those columns w/ useless data
* **axis=1 drops the column** with NaN value
* **axis=0 drops the row** with NaN value* REVISION: THE DATA HAS BEEN UPDATED, SO NO NEED TO REPLACE 0.0 TO NaN!!!

In [25]:
import numpy as np
act_min_wage = act_min_wage.replace(0, np.NaN).dropna(axis=1)
act_min_wage.head()

,Alaska,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Guam,Hawaii,Idaho,...,Oregon,Pennsylvania,Rhode Island,South Dakota,Utah,Vermont,Washington,West Virginia,Wisconsin,Wyoming
Year,,,,,,,,,,,,,,,,,,,,,
1968,2.1,0.15625,1.65,1.0,1.40,1.25,1.25,1.25,1.25,1.15,...,1.25,1.15,1.4,0.425,1.0,1.4,1.6,1.0,1.25,1.2
1969,2.1,0.15625,1.65,1.0,1.40,1.25,1.25,1.25,1.25,1.15,...,1.25,1.15,1.4,0.425,1.0,1.4,1.6,1.0,1.25,1.2
1970,2.1,1.10000,1.65,1.0,1.60,1.25,1.60,1.60,1.60,1.25,...,1.25,1.30,1.6,1.000,1.0,1.6,1.6,1.0,1.30,1.3
1971,2.1,1.10000,1.65,1.0,1.60,1.25,1.60,1.60,1.60,1.25,...,1.25,1.30,1.6,1.000,1.0,1.6,1.6,1.0,1.30,1.3
1972,2.1,1.20000,1.65,1.0,1.85,1.60,1.60,1.90,1.60,1.40,...,1.25,1.60,1.6,1.000,1.2,1.6,1.6,1.2,1.45,1.5

In [28]:
min_wage_corr = act_min_wage.corr()
min_wage_corr.head()

,Alaska,Arkansas,California,Colorado,Connecticut,Delaware,District of Columbia,Guam,Hawaii,Idaho,...,Oregon,Pennsylvania,Rhode Island,South Dakota,Utah,Vermont,Washington,West Virginia,Wisconsin,Wyoming
Alaska,1.000000,0.981938,0.986455,0.970585,0.992234,0.971193,0.973326,0.979386,0.986835,0.958666,...,0.989706,0.959445,0.991785,0.980783,0.961031,0.992841,0.974007,0.984063,0.966210,0.876241
Arkansas,0.981938,1.000000,0.981222,0.974544,0.980991,0.971062,0.976168,0.975847,0.989265,0.951022,...,0.982317,0.957945,0.986417,0.984424,0.954685,0.982433,0.965271,0.983518,0.961117,0.816334
California,0.986455,0.981222,1.000000,0.987726,0.992328,0.969744,0.982806,0.967800,0.981436,0.946857,...,0.985984,0.946763,0.989798,0.974206,0.946546,0.992023,0.987628,0.977868,0.950854,0.873317
Colorado,0.970585,0.974544,0.987726,1.000000,0.980025,0.968148,0.986274,0.961301,0.973284,0.942145,...,0.977187,0.939117,0.980496,0.970238,0.940727,0.982147,0.982347,0.972318,0.943689,0.845495
Connecticut,0.992234,0.980991,0.992328,0.980025,1.000000,0.981611,0.972706,0.976996,0.984969,0.963695,...,0.993275,0.965274,0.994482,0.979789,0.964255,0.997531,0.984275,0.986163,0.971129,0.894385

#### - PERFORM A SAFETY CHECK:
* Some states might not have data in the old days, i.e *NaN*, but they have it now but it's *0.0*
* Previously we drop the State columns with 0.0 State.Minimum.Wage, still need to drop state's columns that has NaN or other non-sense value.

In [32]:
for problem in issue_df["State"].unique():
    if problem in min_wage_corr.columns:
        print("Missing sth here...")

In [33]:
grouped_issues = issue_df.groupby("State")
grouped_issues.get_group("Alabama").head()

,Year,State,State.Minimum.Wage,State.Minimum.Wage.2020.Dollars,Federal.Minimum.Wage,Federal.Minimum.Wage.2020.Dollars,Effective.Minimum.Wage,Effective.Minimum.Wage.2020.Dollars,CPI.Average,Department.Of.Labor.Uncleaned.Data,Department.Of.Labor.Cleaned.Low.Value,Department.Of.Labor.Cleaned.Low.Value.2020.Dollars,Department.Of.Labor.Cleaned.High.Value,Department.Of.Labor.Cleaned.High.Value.2020.Dollars,Footnote
0,1968,Alabama,0.0,0.0,1.15,8.55,1.15,8.55,34.8,...,0.0,0.0,0.0,0.0,NaN
54,1969,Alabama,0.0,0.0,1.15,8.11,1.15,8.11,36.7,...,0.0,0.0,0.0,0.0,NaN
108,1970,Alabama,0.0,0.0,1.30,8.67,1.30,8.67,38.8,...,0.0,0.0,0.0,0.0,NaN
162,1971,Alabama,0.0,0.0,1.30,8.30,1.30,8.30,40.5,...,0.0,0.0,0.0,0.0,NaN
216,1972,Alabama,0.0,0.0,1.60,9.90,1.60,9.90,41.8,...,0.0,0.0,0.0,0.0,NaN

In [34]:
grouped_issues.get_group("Alabama")["State.Minimum.Wage"].sum()

0.0

In [35]:
for state, data in grouped_issues:
    if data["State.Minimum.Wage"].sum() != 0:
        print("we missed sth...")